# Below we forbid everything and only allow what we know, that's much easier
# than blocking about 500 different test files and bug report outputs.
/.*
/*
!/.gitignore
!/go.mod
!/go.sum
!/README.md
!/TODO.md
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/logsprinkler.service
!/debian/rules
!/logbarrel
!/logbarrel/*
!/logsprinkler
!/logsprinkler/*
!/vendor
!/vendor/**
