Source: logsprinkler
Maintainer: Jesse Hathaway <jesse@mbuki-mvuki.org>
Priority: extra
Section: main
Vcs-Browser: https://github.com/lollipopman/logsprinkler
Vcs-Git: git@github.com:lollipopman/logsprinkler.git

Package: logsprinkler
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon
Description: Broadcasts UDP syslog messages to clients
  logsprinkler is a daemon which listens for syslog messages on UDP port
  5514. In addition it listens for clients, logbarrels, who are sending
  heartbeats on UDP port 5515. For any logbarrels that are actively
  heartbeating it broadcasts any syslog messages it is receiving on 5514 to those
  active logbarrels.
